DATABASE_URL=postgresql://neondb_owner:password@ep-winter-math-ae7xcagd-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

JWT_SECRET=2310rh4398dh4387dh4387dh14387d4d41d4h78dh4319dh1784

OPENAI_API_KEY=
OPENROUTER_API_KEY=
AI_DEFAULT_PROVIDER=
OPENROUTER_MODEL=
OPENROUTER_AUDIO_MODEL=